<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body class="body">
    <main id="app" class="main">
    </main>

  </body>
  <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCkmz_p2xhmfemRUzCi1s-gE5AinYka0NE",
      authDomain: "gear-grow.firebaseapp.com",
      databaseURL: "https://gear-grow.firebaseio.com",
      storageBucket: "gear-grow.appspot.com",
      messagingSenderId: "451918975694"
    };
    firebase.initializeApp(config);
  </script>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
